<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804058128507-q7i7mtt0tslkt2a3adkrfsqc92pj78ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804058128507-q7i7mtt0tslkt2a3adkrfsqc92pj78ug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804058128507-6ikero66sa78c29uhltrcricuiq261e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_-dD_rgWC_KDHMvM6ECUWtLHyp7KrQyU</string>
	<key>GCM_SENDER_ID</key>
	<string>804058128507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ola</string>
	<key>PROJECT_ID</key>
	<string>ola-ads-f37ba</string>
	<key>STORAGE_BUCKET</key>
	<string>ola-ads-f37ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804058128507:ios:8aad1a161872919c74c2de</string>
</dict>
</plist>