<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245208965834-9n1kka698ephntm27muvkkps61mpqgt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245208965834-9n1kka698ephntm27muvkkps61mpqgt5</string>
	<key>API_KEY</key>
	<string>AIzaSyB_oA6nbJim7zwNubGn6AxpCPMtx0ftw6M</string>
	<key>GCM_SENDER_ID</key>
	<string>245208965834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ola</string>
	<key>PROJECT_ID</key>
	<string>ola-ads-bb62f</string>
	<key>STORAGE_BUCKET</key>
	<string>ola-ads-bb62f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245208965834:ios:dd00de7843878473b20a33</string>
</dict>
</plist>